.label {
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 16px;
  display: block;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.container {
  display: flex;
  flex-direction: column;
}

.x-large {
  width: 100%;
}

.large {
  width: 75%;
}

.middle {
  width: 50%;
}

.small {
  width: 25%;
}

.x-small {
  width: 12.5%;
}

.fill {
  flex: 1;
}

@media (max-width: 920px) {

  /* Si quieres que los campos ocupen todo el ancho en móvil */
  .x-large,
  .large,
  .middle,
  .small,
  .x-small {
    width: 100% !important;
  }

  /* Opcional: asegurar el contenedor al 100% */
  .container {
    width: 100%;
  }
}