@import '/src/app/styles/main-components.module.css';
@import '/src/app/styles/data-tables.module.css';



.data {
  display: flex;
  flex-direction: column;  
  width: 100%;
  padding: 0px;
  max-width: 1200px;  
  margin-top: 8px;
}

.tableHeader {
    display: flex;    
    flex-direction: row;
    text-align: left;
    padding: 12px 16px;            
    margin: 0px;
    gap: 16px;        
    border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    box-sizing: content-box;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #fafafa;
}

.tableRow {
    display: flex;    
    flex-direction: row;
    text-align: left;
    padding: 12px 16px;            
    gap: 16px;    
    border-bottom: #ccc 1px solid;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;     
}

.table {
    width: 100%;    
    border-collapse: collapse;    
}