@import '/src/app/styles/form-controls.module.css';

.select {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  height: 36px;
  width: 100%;
  box-sizing: border-box;
}

.select::placeholder {
  color: #c6c6c6;
  opacity: 1;
}

.select:focus {
  border-color: #38721e;
  outline: none;
}

.selectContent {
  position: relative;
}

.icon {
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.selectMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 59px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin: 0;
  z-index: 10;
}

.selectOption {
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.selectOption:hover {
  background-color: #f0f0f0;
}

.selectMenuHidden {
  display: none;
}