@import '/src/app/styles/form-controls.module.css';

.input {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  height: 36px;
  width: 100%;
  box-sizing: border-box;
}

.input:focus {
  border-color: #38721e;
  outline: none;
}