 @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

 body {
   font-family: 'Rubik', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow-x: hidden;
 }

 #root {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100dvh;
   min-width: 100dvw;
   box-sizing: border-box;
 }